<!DOCTYPE html>
<html class="theme"
      lang="en"
      xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml"
>
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" rel="stylesheet">
    <script defer src="/ressources/js/panier.js"></script>
    <!--    <script defer src="/ressources/js/nav.js"></script>-->
    <link href="/ressources/css/liste-article.css" rel="stylesheet">
    <link href="/ressources/css/style.css" rel="stylesheet">
    <link href="/ressources/css/header.css" rel="stylesheet">
</head>

<body id="app">
<nav class="navbar navbar-expand-lg bg-light" id="nav">
    <div class="container-fluid">
        <!--------------------------------------------------Home------------------------------------------------------------------------------------------------------------------------------------------------>

        <a class="navbar-brand" href="#">
            <img class="d-inline-block align-text-top" src="/ressources/imgs/nav/evoli.ico" width="80"/>
        </a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--------------------------------------------------Def de la barre------------------------------------------------------------------------------------------------------------------------------------------------>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a aria-current="page" class="nav-link " href="/user/order.html">Faire une nouvelle commande</a>
                </li>
                <li class="nav-item" v-if="select">
                    <a class="nav-link" href=/customer/orders.html>voir les commandes<br> du client</a>
                </li>
                <li class="nav-item" v-if="select">
                    <a class="nav-link" href=/user/orders.html>voir mes commandes</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!----------------------------------------------------------------------------------------->
<div id="panier">
    <div class="customer-select">
        <!--  BARRE DE RECHERCHE  -->
        <label title="Chercher dans les clients">
            <input placeholder="Trouver un client" type="text" v-model="customersSearch"/>
        </label>
        <!--  BARRE DE RECHERCHE  -->
        <div v-for="customer in customers" v-show="filterListCustomers(customer)">
            <div> {{ customer.id + " : " }}
                <a href="#" v-on:click="selectCustomer(customer);select = true">{{ customer.firstName + " " +
                    customer.lastName }}</a>
            </div>
        </div>
        <span v-if="select"> Actuellement sélectionné : {{uName}} </span>
    </div>
    <div v-if="select">
        <button v-on:click="redirect('/customer/orders.html')">voir les commandes du client</button>
    </div>
    <br><br>
    <!-- Customers-select END-->
    <div v-if="select">
        <!-- Article-select START-->
        <div class="panier" v-if="panier">
            Nombre de articles dans le panier : {{ panier.articles ? panier.articles.length : 0}} <br>
            Prix du panier : {{ panier ? panier.totalPrix : 0 }} <br>
            <button v-on:click="redirect('/user/panier.html')">voir le panier du client</button>
        </div>
        <!--  BARRE DE RECHERCHE  -->
        <label title="Chercher dans les articles">
            <input placeholder="Trouver un article" type="text" v-model="articlesSearch"/>
        </label>
        <!--  BARRE DE RECHERCHE  -->
        <div class="tg-wrap">
            <table class="tg">
                <thead>
                <tr> <!--TABLE HEADER -->
                    <th class="tg-ih3h"> Article</th>
                    <th class="tg-ih3h"> Catégorie</th>
                    <th class="tg-ih3h"> Description</th>
                    <th class="tg-ih3h"> Caractéristiques</th>
                    <th class="tg-ih3h"> Stats</th>
                    <th class="tg-ih3h"> Prix</th>
                </tr>
                <tr class="article" v-for="(article, key, index) in articles" v-show="filterListArticle(article)">
                    <!--v-show: permet d'appliquer un filtre-->

                    <!--pour afficher une image liée au 'key' de l'objet json-->
                    <th class="tg-ih3h"
                        v-on:click="ajouterArticle(article.id)"><a href="#">{{ article.label }}</a><br>
                        <img alt="" v-bind:alt="article"
                             v-bind:src="'/ressources/imgs/articles/' + article.label.toLowerCase() + '.png'"
                             width="80"/>
                    </th>

                    <td class="tg-0pky">{{ article.category.label }}<br>{{ article.category.taxes + "% TVA" }}</td>
                    <td class="tg-0pky">{{ article.description }}</td>

                    <!-- PROPERTIES -->
                    <td class="tg-0pky"><span class="values" v-for="(value, key, index) in article.properties"
                                              v-if="key && value && index > 1">
                    <span v-if="index % 2"><br></span>
                    <span class="tg-0pky">
                        <!-- <img v-bind:src="'/ressources/imgs/props/' + key + '.png'" v-bind:alt="key" alt=""/>-->
                        {{ key + " : " + displayValue(key, value) }}
                    </span>
                </span></td>
                    <!-- PROPS END -->
                    <!-- STATS -->
                    <td class="tg-0pky">
                        <details about="voir les stats" accesskey="s" class="stats" content="stats" id="stats"
                                 title="stats">
                    <span class="values" v-for="(value, key, index) in article.stats"
                          v-if="key && value">
                        <span v-if="index >= 1"><br></span>
                        <!--<img v-bind:src="'/imgs/stats/' + key + '.png'" v-bind:alt="key" alt=""/>-->
                        {{ key + " : " + value }}
                    </span>
                        </details>
                    </td>
                    <!-- STATS END -->
                    <td class="tg-c3ow">{{ article.prix }}</td>
                    <td class="tg-c3ow">
                        <button v-on:click="ajouterArticle(article.id)">Ajouter</button>
                    </td>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<!--------------------------------------------------PARTIE SCRIPT------------------------------------------------------------------------------------------------------------------------------------------------>

<script crossorigin="anonymous"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<script crossorigin="anonymous"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"></script>
</body>
</html>