<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <meta charset="UTF-8">
    <title>Vos Commandes</title>
    <script defer src="/js/order.js"></script>
    <link href="/css/liste-pizza.css" rel="stylesheet">

</head>
<body>
<div class="order" id="order">
    <div class="tg-wrap">
        <table class="tg">
            <thead>
            <tr>
                <th class="tg-ih3h"> N° Commande</th>
                <th class="tg-ih3h"> Nombre d'articles</th>
                <th class="tg-ih3h"> Prix TTC</th>
                <th class="tg-ih3h"> Prix HT</th>
            </tr>
            <tr v-for="order in orders" v-if="order.orderId && order.pizzas">
                <td class="tg-ih3h"> {{ order.numeroCmd }}</td>
                <td class="tg-ih3h"> {{ order.pizzas.length }}</td>
                <td class="tg-ih3h"> {{ order.prixTTC }}</td>
                <td class="tg-ih3h"> {{ order.prixHT }}</td>
                <td class="tg-ih3h">
                    <details class="tg-wrap" id="order-details" v-if="order.pizzas">
                        <table class="tg">
                            <thead>
                            <tr>
                                <th class="tg-ih3h">Nom pizza</th>
                                <th class="tg-ih3h">Calories</th>
                                <th class="tg-ih3h">Prix</th>
                                <th class="tg-ih3h">Quantité</th>
                            </tr>
                            <tr v-for="pizza in pizzasRepo" v-if="countPizzaInOrder(pizza.id, order)">
                                <td class="tg-0pky"> {{ pizza.label }}</td>
                                <td class="tg-0pky"> {{ pizza.calories * countPizzaInOrder(pizza.id, order)}}</td>
                                <td class="tg-0pky"> {{ calc_price_pizzas_order(pizza, order) }}</td>
                                <td class="tg-0pky"> {{ countPizzaInOrder(pizza.id, order) }}</td>
                            </tr>
                            </thead>
                        </table>
                    </details>
                </td>
            </tr>
            <tr v-if="orders">
                <td class="tg-ih3h">TOTAL :</td>
                <td class="tg-ih3h">{{ totalPizza }}</td>
                <td class="tg-ih3h">{{ totalPrixTTC.toFixed(2) }}</td>
                <td class="tg-ih3h">{{ totalPrixHT.toFixed(2) }}</td>
            </tr>
            </thead>
        </table>
    </div> <!-- Tg-wrap -->
    <br>

</div>

</div>
</body>
</html>