<!DOCTYPE html>
<html lang="en"
      xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml"
>
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script defer src="/js/article.js"></script>
    <meta charset="UTF-8">
    <title>Editez la vitrine de article</title>
</head>
<body>
<div id="app">
    <div class="article-list">
        <div v-for="article in articles">
            <div>
                {{ article.id }}
                {{ article.label }}
                <div>
                    Nombre d'ingrédients:
                    {{ article.property ? article.property.length : 0 }}
                </div>
            </div>
        </div>
        <div>
            <button v-on:click="create = true; newArticle = {}">
                Ajouter une nouvelle article
            </button>
        </div>
    </div>
    <div class="article-form" v-if="create">
        <div>
            <label for="label">Nom de l'article:</label><input id="label" v-model="newArticle.label">
        </div>
        <div>
            <!-- v-for nous permet de récupérer la liste d'ingrédients de la nouvelle article-->
            Vos Ingredients:
            <span v-for="property in newArticle.property"
                  v-if="newArticle.property">
                {{ property.label }} </span>
            <br>
            <!-- Liste des ingrédients que l'on peut ajouter à la article -->
            <label>
                <select v-model="newIngredient" v-on:change="addIngredients()">
                    <option></option>
                    <!-- v-bind nous permet de récupérer l'id de l'OBJET property -->
                    <option v-bind:value="property"
                            v-for="property in property"
                            v-if="property.label">
                        {{ property.label }}
                    </option>
                </select>
            </label>
        </div>
        <div>
            <button v-on:click="createArticle()">Créer l'article</button>
        </div>
    </div>
</div>
</body>
</html>