<!DOCTYPE html>
<html class="theme"
      lang="en"
      xmlns:v-on="http://www.w3.org/1999/xhtml"
>
<head>

    <!-- CSS only -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" rel="stylesheet">
    <!-- JavaScript Bundle with Popper -->
    <link href="/ressources/css/liste-article.css" rel="table-style">
    <link href="/ressources/css/style.css" rel="table-style">

    <script crossorigin="anonymous"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script defer src="/ressources/js/user.js"></script>

    <title>Ajouter un client chez ACME</title>
</head>
<body class="theme">

<div id="userApp">
    <div class="user-list">
        <button v-on:click="create = true; modify = false; resetValues()">
            Ajouter un nouvel utilisateur
        </button>
        <!--  BARRE DE RECHERCHE  -->
        <label title="Chercher un utilisateur">
            <input placeholder="Trouver un client" type="text" v-model="search"/>
        </label>
        <!--  BARRE DE RECHERCHE  -->
        <!--        v-show="filterListUsers(user)"-->
        <div v-for="user in users">
            <!--Liste filtrée dynamiquement-->
            {{ user.id + " |" }}
            <a href="#" v-on:click="newUser = Object(user);
                                        modify = true; create = false; select = false">{{ user.email + " " +
                user.role }}</a>
        </div>
        <div>
            <button v-on:click="create = true; modify = false; resetValues()">Ajouter un nouvel utilisateur</button>
        </div>
    </div>
    <div class="user-form" v-if="create || modify">
        <div class="mb-3">
            <label class="form-label" for="email">Email</label>
            <input aria-describedby="emailHelp" class="form-control" id="email" type="email" v-model="newUser.email">
        </div>
        <div class="mb-3">
            <label class="form-label" for="password">Password</label>
            <input class="form-control" id="password" type="password" v-model="newUser.password">
        </div>
        <div class="form-check form-switch">
            <input class="form-check-input" id="role_user" role="role_user" type="checkbox" v-model="role_user">
            <label class="form-check-label" for="role_user">Rôle utlisateur</label>
        </div>
        <div class="form-check form-switch">
            <input checked class="form-check-input" id="role_comm" role="role_comm" type="checkbox" v-model="role_comm">
            <label class="form-check-label" for="role_comm">Rôle commercial</label>
        </div>
        <hr>
    </div>

    <div>
        <button class="btn btn-primary" v-if="create" v-on:click="createUser()">Enregistrer</button>
        <button class="btn btn-primary" v-if="modify" v-on:click="modifyUser()">Changer les informations de
            l'utilisateur
        </button>
        <br>
    </div>
</div>
<script crossorigin="anonymous"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<script crossorigin="anonymous"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"></script>
</body>
</html>