<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Panier</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="/css/liste-article.css" rel="stylesheet">
    <script defer src="/js/panier.js"></script>
</head>
<body>
<include src="/template/header.html"></include>
<div id="panier">
    <div class="panier">
        Nombre de articles dans le panier : {{panier && panier.articles? panier.articles.length : 0}}
        <a href="/">retour à la vitrine</a>
    </div>
    <div class="tg-wrap">
        <table class="tg">
            <thead>
            <tr>
                <th class="tg-ih3h">Article</th>
                <th class="tg-ih3h">Prix</th>
                <th class="tg-ih3h">Quantité</th>
                <th class="tg-ih3h">+/-</th>
            </tr>
            <tr class="article" v-for="article in articles" v-if="articleInPanier(article)">
                <td class="tg-0pky"><a class="ui-icon-info" href="#" id="infos" title="infos">{{article.label}}</a></td>
                <td class="tg-0pky">{{ calc_price_article_panier(article) }}</td>
                <td class="tg-0pky">{{ countArticleInCart(article.id) }}</td>
                <td class="tg-0pky">
                    <button v-on:click="ajouterArticle(article.id)">+</button>
                    <br>
                    <button v-on:click="enleverArticle(article.id)">-</button>
                </td>
            </tr>
            <tr v-if="panier && panier.articles">
                <td>TOTAL :</td>
                <td class="tg-0pky"> {{ panier.totalPrix }}</td>
                <td class="tg-0pky">{{ panier.articles.length }}</td>
            </tr>
            </thead>
        </table>
        <a href="/">retour à la vitrine</a>
        <button v-on:click="confirmAction()">Commander</button>
    </div>

</div>
</body>
</html>